@model Tuple<UserManagement.Models.User, IEnumerable<UserManagement.Models.UserActionLog>>

@{
	ViewData["Title"] = "View";
}

<h1>View Details</h1>

<div>
	<h4>User</h4>
	<hr />
	<dl class="row">
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Item1.Forename)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Item1.Forename)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Item1.Surname)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Item1.Surname)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Item1.Email)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Item1.Email)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Item1.DateOfBirth)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Item1.DateOfBirth)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Item1.IsActive)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Item1.IsActive)
		</dd>
	</dl>
</div>
<div>
	<a asp-controller="Users" asp-action="Edit" asp-route-id="@Model?.Item1.Id">Edit</a> |
	<a asp-controller="Users" asp-action="List">Back to List</a>
</div>

<h1>Logs</h1>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					Event Time
				</th>
				<th>
					User ID
				</th>
				<th>
					Action Type
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null)
			{
				@foreach (var item in Model.Item2)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.timeStamp)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.UserId)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.actionType)
						</td>
						<td>
							<a asp-controller="UserActionLogs" asp-action="View" asp-route-id="@item.Id">Details</a>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>
